on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

name: Publish

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v5

      # Beginning of yarn setup, keep in sync between all workflows, see ci.yml
      - name: use node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/ # Needed for auth
          cache: 'npm'
      - name: npm install
        run: npm install
      # End of  setup

      - name: "Get Short Sha Hash"
        id: get-short-sha
        uses: actions/github-script@v8.0.0
        with:
          script: |
            const shortSha = context.sha.substring(0, 7)
            core.setOutput('shortSha', shortSha)

      - name: 'Get Commit Timestamp'
        id: get-timestamp
        run: |
          TIMESTAMP=$(git log -1 --format='%cI' | sed -e's/[-T:]//g' -e's/+.*$//g')
          echo "timestamp=$TIMESTAMP" >> $GITHUB_OUTPUT

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: b354d443-d632-4d61-8ee8-2abc2c7baf23 # DTS Shared GitHub Actions ACR Publisher 1
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true

      - name: 'ACR Login'
        run: |
          az acr login --name hmctsprod

      # HMCTSPROD ACR
      - name: 'Build and push PR image to HMCTSPROD'
        if: startsWith(github.ref, 'refs/pull')
        run: |
          docker build . -t hmctsprod.azurecr.io/cs/slack-help-bot:pr-${{github.event.number}}-${{ steps.get-short-sha.outputs.shortSha }}
          docker push hmctsprod.azurecr.io/cs/slack-help-bot:pr-${{github.event.number}}-${{ steps.get-short-sha.outputs.shortSha }}

      - name: 'Build and push prod image to HMCTSPROD'
        if: github.ref == 'refs/heads/main'
        run: |
          docker build . -t hmctsprod.azurecr.io/cs/slack-help-bot:prod-${{ steps.get-short-sha.outputs.shortSha }}-${{ steps.get-timestamp.outputs.timestamp }}
          docker push hmctsprod.azurecr.io/cs/slack-help-bot:prod-${{ steps.get-short-sha.outputs.shortSha }}-${{ steps.get-timestamp.outputs.timestamp }}

      # HMCTSPUBLIC ACR - to be deprecated post migration to hmctsprod
      - name: 'Build and push image'
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - run: |
          docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/cs/slack-help-bot:pr-${{github.event.number}}-${{ steps.get-short-sha.outputs.shortSha }}
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/cs/slack-help-bot:pr-${{github.event.number}}-${{ steps.get-short-sha.outputs.shortSha }}
        if: startsWith(github.ref, 'refs/pull')
      - run: |
          docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/cs/slack-help-bot:prod-${{ steps.get-short-sha.outputs.shortSha }}-${{ steps.get-timestamp.outputs.timestamp }}
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/cs/slack-help-bot:prod-${{ steps.get-short-sha.outputs.shortSha }}-${{ steps.get-timestamp.outputs.timestamp }}
        if: github.ref == 'refs/heads/main'
